

.post {
	display: flex;
	justify-content: space-between;
	background-color: white;
	padding: 6px;
	font-family: bungee;
}
.prompt {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	border-bottom: grey 4px solid;
	padding: 15px;
	margin-left: 1%;
	margin-right: 1%;
}

.prompt > label {
	opacity: 0.7;
}

textarea {
	border: none;
	outline: none;
	font-size: 17px;
	font-family: serif;
	font-weight: 700;
}

.post > output {
	color: black;
	margin: 10px;
}

.post > button {
	border: none;
	background-color: #4056a1;
	background-image: url("https://www.transparenttextures.com/patterns/asfalt-light.png");
	color: white;
	margin: 10px;
	cursor: pointer;

	
}

.post > button:hover {
	box-shadow: 2.5px 5px black;
}

article {
	border: grey solid 4px;
	text-align: left;
	margin-bottom: 1em;
}

article > p {
	padding-left: 30px;
	text-align: left;
}

article.userId > img {
	width: 100px;
	height: 100px;
}

.icons > i:hover {
	color: #4056a1;
}

#tweets-container > article {
	padding: 15px;
	
}

#tweets-container >article:hover {
	box-shadow: 5px 10px #4056a1;
}

.errorMsg {
	display: flex;
	flex-direction: row;
	justify-content: center;
	border: red solid 2px;
	margin-bottom: 30px;
	margin-left: 25%;
	margin-right: 25%;
}

.errorMsg > i {
	padding: 32px;
	color: red;
}
